/* HEADER */

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;
	background-color: rgb(37, 94, 233);
	/* debug 
	background-color: lightblue;*/
}

h1{
	font-size: 2em;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;

	/* debug 
	background-color: goldenrod;
	border: 2px dashed black;*/
}

.header-links {
	flex-grow: 1;
	text-align: center;
}

.header-links *{
	margin-left: 30px;
}

a,
a:visited {
	text-decoration: none;
	color: white;
}

.header-login {
	text-align: right;
}

label{
	border-radius: 25px;
	padding: 10px;
}

.lb-white{
	border-color: white;
	background-color: white;
	color: black;
}

.lb-black{
	border-color: black;
	background-color: black;
	margin-left: 25px ;
}

.lb-lightblue{
	background-color: rgb(171, 183, 255);
	color: white;
	margin-top: 10px;
}

/* JUMBOTRON */

.jumbotron {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	background-image: url('../img/jumbo.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* debug
	background-color: darkblue;*/
}

.jumbotron .content {
	min-height: 400px;
	width: 50%;
	color: white;
	text-align: center;
	
	/* debug 
	background-color: #ee82ee;
	border: 2px dashed black;*/
}

.margine{
	margin: 40px;
}

/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;
	flex-direction: row;
	/* debug 
	min-height: 500px;*/
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: rgb(236, 234, 234);
}

.main-col {
	flex-grow: 2;
	width: 50%;
	margin-top: 0;
	/* debug 
	background-color: cornflowerblue;
	border: 2px dashed black;*/
}

.side-col {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: 40px;
	padding-left: 160px;
	padding-right: 200px;
	width: 50%;
	padding-top: 30px;
	/* debug
	background-color: pink;
	border: 2px dashed black;*/
}

.hilighted-content {
	flex-grow: 1;
	text-align: center;
	/* debug 
	min-height: 800px;
	background-color: forestgreen;
	border: 2px dashed black;*/
}

/* FOOTER */

.footer-main {
	padding-top: 10px;


	/* debug */
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid purple;

	/* debug */
	min-height: 500px;
}

.footer-main-col {
	width: calc(100% / 3);

	/* debug */
	background-color: #f08080;
	border: 2px dashed black;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);

	/* debug */
	background-color: #20b2aa;
	border: 2px dashed black;
}

.footer-col {
	width: 25%;

	/* debug */
	background-color: #20b2aa;
	border: 2px dashed white;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

	/* debug */
	background-color: #7fffd4;
}

.footer-bottom>* {
	padding: 5px 10px;


	/* debug */
	background-color: #ffb6c1;
	border: 2px dashed black;
}